= content_for :page_title, 'GitPub &ndash; Добро пожаловать!'

.jumbotron
  %h1 GitPub
  %p
    Платформа для подготовки и публикации литературных произведений
    %small== (работающая с неоценимой помощью сервиса <i class="fa fa-github fa-lg"></i> #{link_to 'GitHub', 'https://github.com/'})
%hr
.col-md-4
  %h2 Что такое Git?
  %p
    Git &ndash; это распределённая система контроля версий, одна из множества. В первую очередь она задумана для хранения исходных кодов программ, но замечательно подходит для любого текстового контента &ndash; например, литературных произведений.
    %a.btn.btn-info.btn-block{href: 'http://ru.wikipedia.org/wiki/Git'} О Git на Википедии
.col-md-4
  %h2 Что такое GitHub?
  %p
    GitHub &ndash; это один из наиболее популярных публичных сервисов, предоставляющих git-хостинг. Помимо этого, он предоставляет массу возможностей для управления проектами и кодом, в том числе &ndash; редактирование текста прямо на сайте.
    %a.btn.btn-info.btn-block{href: 'https://github.com/features/projects'} О GitHub на GitHub
.col-md-4
  %h2 Что такое GitPub?
  %p
    GitPub <em>(рабочее название)</em> &ndash; это попытка сделать сервис для самостоятельной публикации литературных произведений, использующий GitHub в качестве основы. Для авторов это способ красиво и организованно предстваить свои произведения, для читателей &ndash; удобная библиотека, позволяющая получить текст во всех удобных форматах.
    %a.btn.btn-info.btn-block{href: '/about'} Об этом сайте